*

!.gitignore
!.vimrc

!.config/
!.config/nvim
!.config/nvim/*
!.config/nvim/**/*

# Scripts
!init_me.sh

# Terminal
!.config/alacritty
!.config/alacritty/alacritty.yml
.config/nvim/plugin/packer_compiled.lua

# Theme
!.config/spaceship
!.config/spaceship/spaceship.zsh
