*

!.gitignore
!.vimrc

!.config/
!.config/nvim
!.config/nvim/init.vim

# Scripts
!init_me.sh

# Terminal
!.config/alacritty
!.config/alacritty/alacritty.yml

# Theme
!.config/spaceship
!.config/spaceship/spaceship.zsh
